@import '../global.scss';
.imagebox{
    background-color: $mainColor;
    background-image: url('../assets/JakeHawrylak_UpsideDownOptions-0106-3632.jpg');
    background-size: cover;
    // background-position: center;
    height: 1000px;
    width: 100%;
    @include mobile{
        height:840px;
        background-position: 49.5%;
    }
    .videocontainer{
        display: flex;
        align-items: center;
        justify-content: center;
        @include mobile{
            width: 100%;
            height: 20%;
        }
        video{
            // filter: blur(20px);
            z-index: 1;
            @include mobile{
                width: 100%;
                
            }
        }
        .title{
            font-family: "elfreth", sans-serif;
            margin-top: 180px;
            font-weight: 300;
            font-style: normal;
            z-index: 2;
            text-align: center;
            font-size: 22px;
            width: 33%;
            color: whitesmoke;
            @include mobile{
                font-size: 15px;
                text-align: center;
                margin-top: 1300px;
                width:100%;
            }
        }
    }
}