@import '../global.scss';

.imagebox {
    
    height: 49.921vw;
    width: 100%;
    background-color: $mainColor;
    margin-top: 3.153vw;
    margin-bottom: none;
    display:flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    @keyframes blur {
        0%{
            -webkit-filter: blur(50px);
            -moz-filter: blur(50px);
            -o-filter: blur(50px);
            -ms-filter: blur(50px);
          }
        50% {
          -webkit-filter: blur(0px);
          -moz-filter: blur(0px);
          -o-filter: blur(0px);
          -ms-filter: blur(0px);
        }
      }
      animation: blur 12s ease-in-out 0s ;
    @include mobile {
        height: 400px;
        width: 100%;
        margin-top: 44px;
    }
    .imgcontainer{
        width: 50%;
        height: 50%;
        @include mobile{
            width: 100%;
            height: 100%;
        }
        .topImage{
            max-width: 100%;
            height: auto;
            @include mobile{
            }
        }
    }

}