@import "../global.scss";

.showinfo{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    font-size: 1.839vw;
    border: 1px solid whitesmoke;
    padding: 1%;
    margin: 1%;
    @include mobile{
        width:100%;
        font-size: 12px;
        padding:none;
        margin:none;
        box-shadow: 20px
    }
}
button{
    font-size: 30px;
    font-family: $h1;
    width: 200px;
    height: 50px;
    padding: 5px;
    color: $tertiaryColor;
    background-color: $secondaryColor;
    @include mobile{
        font-size: 14px;
        text-align: center;
        width: 50px;
        height: 40px;
        padding-top: 0;
        padding-bottom: 0;
    }
}
.venueinfo{
    @include mobile{
        max-width: 100px;
    }
}
.showdate{
    @include mobile{
        max-width: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}