@import '../global.scss';

.landing-component-box{
    position: absolute;
    font-family:"elfreth";
    color: $secondaryColor;
    z-index: 4;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-width: 80%;
    min-height: 100%;
    @keyframes fadeIn {
        0% { opacity: 0; }
        50%{
            opacity: 1;
        }
        100% { opacity: 0; }
      }
    .title-text-box{
        font-size: 1.319vw;
        animation: fadeIn 8s;
        opacity: 0%;
        @include mobile{
            text-align: center;
            font-size: 11px;
        }
    }
    .date-text-box{
        font-size: 1.471vw;
        animation: fadeIn 8s;
        opacity: 0%;
        @include mobile{
            font-size: 11px;
        }
    }
}