@import '../global.scss';
@font-face {
    font-family: 'CAT-Eckman';
    src: url('../fonts/CAT-Eckmann.ttf');
}
.contactSection{
    background-color: $mainColor;
    width: 100%;
    height: auto;
    padding-bottom: 2%;
    margin-bottom: 40px;
    @include mobile{
        margin-bottom: 0px;
        padding-bottom: 0px;
    }
    .title{
        font-family: $h1;
        color: $secondaryColor;
        @include mobile{
            font-size: 12px;
        }
    }
    .contactContents{
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        .formBlock{
            width:100%;
            display:flex;
            align-items: center;
            justify-content: center;
            .formWrapper{
                width: 40%;
                @include mobile{
                    width:80%;
                }
                input{
                    font-family: 'Courier New', Courier, monospace;
                    height: 40px;
                    font-size: 20px;
                    width: 100%;
                    @include mobile{
                        height:20px;
                        font-size: 20px;
                    }
                }
                .nameInputs{
                    padding: 5px;
                }
                .emailAddressInputs{
                    padding: 5px;
                }
                .messageInput{
                    padding: 5px;
                    textarea{
                        font-family: 'Courier New', Courier, monospace;
                        padding:3px;
                        font-size: 20px;
                        width: 100%;
                        height: 90px;
                    }
                }
                .submitFormButton{
                    display: flex;
                    align-content: center;
                    justify-content: center;
                    button{
                        font-size: 30px;
                        font-family: $h1;
                        width: 200px;
                        height: 50px;
                        padding: 5px;
                        color: $tertiaryColor;
                        background-color: $secondaryColor;
                        @include mobile{
                            font-size: 20px;
                            width: 180px;
                            height: 40px;
                            padding: 2px;
                        }
                    }
                }
                .submissionmessage{
                    width: 100%;
                    height: 10%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    @include mobile{
                        height: 20%;
                     }
                }
                span{
                    color:white;
                    font-family: $h1;
                    font-size: 30px;
                    position: absolute;
                    margin-top: 30px;
                }
            }
        }
    }
}
                        
                        
                        
