@import "../global.scss";
@font-face {
    font-family: 'CAT-Eckman';
    src: url('../fonts/CAT-Eckmann.ttf');
}
.upcomingShows{
    background-color: black;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    padding: 2em;
    @include mobile{
        padding:0;
        width: 100%;
    }
    .title{
        font-family: $h1;
        @include mobile{
            font-size: 12px;
        }
    }
    .showWrapper{
        background-color: black;
        width: 80%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}