.upcomingShows{
    background-color: rgb(81, 140, 192);
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    .showWrapper{
        background-color: black;
        width: 100%;
    }
}