@import "../global.scss";

.nav{
    font-family: 'Poltawski Nowy', serif;
    width:100%;
    height: auto;
    color:white;
    top: 0;
    z-index: 3;
    background-color: black;
    position: fixed;
    filter:opacity(.5);
    a{
        text-decoration: none;
        color: white;
    }
    a:hover{
        color:rgb(143, 128, 242);
        cursor: pointer;
  }
    .wrapper{
        padding:10px 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include mobile{
            padding:5px 8px;
            justify-content: left;
        }
        .left{
            display:flex;
            align-items: center;
            .name{
                font-size: 38px;
                @include mobile{
                    font-size: 20px;
                }
            }
            .itemContainer{
                display:flex;
                align-items: center;
                margin-left: 30px;
 
                img{
                    width: 80px;
                    height: 80px;
                    filter: blur(1px);
                    @include mobile{
                        width: 40px;
                        height: 40px;
                    }
                }
            }
        }
        .right{
            width: 50%;
            padding: 2%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 20px;
            @include mobile{
                display: none;
            }
            a{
                text-decoration: none;
                color: whitesmoke;
                scroll-behavior: smooth;
            }
            a:hover{
                  color:rgb(143, 128, 242);
                  cursor: pointer;
            }
            img{
                width: 80px;
                height: 80px;
                filter: blur(1px);
                @include mobile{
                    width: 40px;
                    height: 40px;
                }
            }
        }
    }

    
}