@import "../global.scss";

.nav{
    font-family: 'Poltawski Nowy', serif;
    width:100%;
    height: auto;
    color:white;
    opacity: 80%;
    top: 0;
    z-index: 3;
    background-color: black;
    .wrapper{
        padding:10px 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .left{
            display:flex;
            align-items: center;
            .name{
                font-size: 38px;
                @include mobile{
                    font-size: 20px;
                }
            }
            .itemContainer{
                display:flex;
                align-items: center;
                margin-left: 30px;
 
                img{
                    width: 80px;
                    height: 80px;
                }
            }
        }
        .right{
            width: 50%;
            padding: 2%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 20px;
            @include mobile{
                display: none;
            }
            a:hover{
                  color:rgb(248, 227, 227);
                  cursor: pointer;
            }
        }
    }

    
}