@import "../global.scss";
@font-face {
    font-family: 'CAT-Eckman';
    src: url('../fonts/CAT-Eckmann.ttf');
}
.about{
    background-color:$mainColor;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .title{
        font-family: $h1;
        color: $secondaryColor;
        @include mobile{
            font-size: 12px;
        }
    }
    .copyBox{
        width:80%;
        text-align: center;
        a{
            color: white;
        }
        .copy{
            width: 100%;
            height: auto;
            font-size: 35px;
            font-family: "hightower-text",serif;
            color: whitesmoke;
            @include mobile{
                font-size: 18px;
            }
        }
    }
}