@font-face {
    font-family: 'CAT-Eckman';
    src: url('./fonts/CAT-Eckmann.ttf');
}

$mainColor:#45272E;
$secondaryColor:#DDAE90;
$tertiaryColor:#404752;
$fourthColor:#9BA0A6;
$width: 768px;
$h1:'CAT-Eckman';

@mixin mobile{
    @media (max-width: #{$width}){
        @content
    }
}